{% extends 'base.html' %}


{% block title %}
    <title>{{ context.title }}</title>
{% endblock %}


{% block content %}
    {% if context.flag %}
    <br>
        <div class="form">
            <br>
            <form action="" method="post">
            
                <div class="head_inside">
                    <label class="global_text label" for="question">Введите новый вопрос:</label>
                </div>
                <div class="head_inside">
                    <input class="input start_button_1 global_text" 
                        type="text" 
                        id="question" 
                        name="question" 
                        value="" 
                        required>

                </div>
                {% if context.question.image %}  
                    <div class="head_inside">
                        <div class="question">
                            <img class="question_image" src="../static/images/{{ context.question.image }}" alt="img">
                        </div>   
                    </div>
                {% endif %}
                <div class="head_inside">
                    <label class="global_text label" for="option_a">Введите новый вариант a:</label>
                </div>
                <div class="head_inside">
                        <input class="input start_button_1 global_text" 
                        type="text" 
                        id="option_a" 
                        name="option_a" 
                        value="" 
                        required>
                        
                </div>
                <div class="head_inside">
                    <label class="global_text label" for="option_b">Введите новый вариант b:</label>
                </div>
                <div class="head_inside">
                    <input class="input start_button_1 global_text" 
                        type="textaria" 
                        id="option_b" 
                        name="option_b" 
                        value="" 
                        required>
                </div>
                <div class="head_inside">
                    <label class="global_text label" for="option_c">Введите новый вариант c:</label>
                </div>
                <div class="head_inside">
                    <input class="input start_button_1 global_text" 
                        type="text" 
                        id="option_c" 
                        name="option_c" 
                        value="" 
                        required>
                </div>
                {% if context.question.d %}
                    <div class="head_inside">
                        <label class="global_text label" for="option_d">Введите новый вариант d:</label>
                    </div>
                    <div class="head_inside">
                        <input class="input start_button_1 global_text" 
                            type="text" 
                            id="option_d" 
                            name="option_d" 
                            value="" 
                            required>
                    </div>
                    {% if context.question.e %}
                        <div class="head_inside">
                            <label class="global_text label" for="option_e">Введите новый вариант e:</label>
                        </div>
                        <div class="head_inside">
                            <input class="input start_button_1 global_text" 
                                type="text" 
                                id="option_e" 
                                name="option_e" 
                                value="" 
                                required>
                        </div>
                        {% if context.question.f %}
                            <div class="head_inside">
                                <label class="global_text label" for="option_e">Введите новый вариант f:</label>
                            </div>
                            <div class="head_inside">
                                <input class="input start_button_1 global_text" 
                                    type="text" 
                                    id="option_f" 
                                    name="option_f" 
                                    value="" 
                                    required>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="head_inside">
                    <label class="global_text label" for="answer">Введите изменения в ответ:</label>
                </div>
                <div class="head_inside">
                    <input class="input start_button_1 global_text" 
                        type="text" 
                        id="answer" 
                        name="answer" 
                        value="" 
                        required>
                </div>
                <div class="head_inside">
                    <a class="start_button clean_a" href="{{ url_for('change_question') }}"><button class="start_button_1 global_text">Изменить</button></a>
                <br>
            </div>
            </form>
            
            <div class="head_inside">
                <a class="start_button clean_a" href="{{ url_for('login') }}"><button class="start_button_1 global_text">Назад</button></a>
                <br>
            </div>
            <form action="{{ url_for('index') }}" method="post">
                <div class="head_inside">
                    <a class="start_button clean_a" href="{{ url_for('index') }}">
                        <button class="start_button_1 global_text">На главную</button></a>
                    <br>
                </div>
            </form>
        </div>
    {% else %}
    <div class="form">
        <form action="" method="post">
            <div class="head_inside">
                <label class="global_text label" for="question_id">Введите id вопроса который хотите изменить:</label>
            </div>
            <div class="head_inside">
                <input class="input start_button_1 global_text" type="number" id="question_id" name="question_id" required>
            </div>
            <div class="head_inside">
                <a class="start_button clean_a" href="{{ url_for('change_question') }}">
                    <button class="start_button_1 global_text" type="submit">Найти вопрос</button></a>
                <br>
            </div> 
        </form>
        <div class="head_inside">
            <a class="start_button clean_a" href="{{ url_for('login') }}"><button class="start_button_1 global_text">Назад</button></a>
            <br>
        </div>
    </div>
    {% endif %}

{% endblock %}