{% extends 'base.html' %}

{% block title %}
    <title>{{ context.title }}</title>
{% endblock %}

{% block header %}
    <div class="header">
        <h2 class="header_text">{{ context.title }}</h2>
    </div>
{% endblock %}


{% block content %}
    
    {% if context %}
        {% if context.question %}
            <input id="context" type="text" style="display: none;" value="{{ context.question.answer }}">
            {% if context.flag %}
                
                <div class="head_inside">
                    <div class="question p">
                        <h3 class="header_text">{{ context.question.id }}: {{ context.question.question }}</h3>
                    </div>
                </div>  
                {% if context.question.image %}  
                    <div class="head_inside">
                        <div class="question">
                            <img class="question_image" src="../static/images/{{ context.question.image }}" alt="img">
                        </div>   
                    </div>
                {% endif %}
                <div class="head_inside">
                    <form id="myForm" class="form" action="{{ url_for(context.url) }}" method="post">
                        <div class="ans">
                            <div class="answer" id="a">
                                <label class="global_text p">
                                    <input type="radio" name="answer" value="a">
                                    <span id="{{ context.question.a }}" style="padding-left: 1%;">{{ context.question.a }}</span>  

                                </label>     
                            </div>     
                        </div>
                        <div class="ans">
                            <div class="answer" id="b">
                                <label class="global_text p">
                                    <input type="radio" name="answer" value="b">
                                    <span id="{{ context.question.b }}" style="padding-left: 1%;">{{ context.question.b }}</span>      
                                </label>     
                            </div>     
                        </div>
                        <div class="ans">
                            <div class="answer" id="c">
                                <label class="global_text p">
                                    <input type="radio" name="answer" value="c">
                                    <span id="{{ context.question.c }}" style="padding-left: 1%;">{{ context.question.c }}</span>      
                                </label>     
                            </div>     
                        </div>
                        {% if context.question.d %}
                            <div class="ans">
                                <div class="answer" id="d">
                                    <label class="global_text p">
                                        <input type="radio" name="answer" value="d">
                                        <span id="{{ context.question.d }}" style="padding-left: 1%;">{{ context.question.d }}</span>      
                                    </label>     
                                </div>     
                            </div>
                            {% if context.question.e %}
                                <div class="ans">
                                    <div class="answer" id="e">
                                        <label class="global_text p">
                                            <input type="radio" name="answer" value="e">
                                            <span id="{{ context.question.e }}" style="padding-left: 1%;">{{ context.question.e }}</span>      
                                        </label>     
                                    </div>     
                                </div>
                                {% if context.question.f %}
                                    <div class="ans">
                                        <div class="answer" id="f">
                                            <label class="global_text p">
                                                <input type="radio" name="answer" value="f">
                                                <span id="{{ context.question.f }}" style="padding-left: 1%;">{{ context.question.f }}</span>      
                                            </label>     
                                        </div>     
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <div class="two_buttons">
                        {% if not context.first_question %}
                            <div class="next">
                                <div class="start_button">
                                    <button name="toBack" value="True" type="submit" class="start_button_1 global_text">назад</button>    
                                </div>   
                            </div> 
                        {% endif %}     
                        {% if not context.last_question %}
                            <div class="next">
                                <div class="start_button">
                                    <button name="toBack" value="False" id="submitButton" type="submit" class="start_button_1 global_text">далее</button>    
                                </div>   
                            </div> 
                        {% endif %}
                        
                        </div>
                    </form>
                </div>
                <div class="head_inside">
                    <a class="start_button clean_a" href="{{ url_for('study') }}">
                        <button class="start_button_1 global_text">
                            К разделам
                        </button>
                    </a>
                </div>
                <form action="{{ url_for('index') }}" method="post">
                    <div class="head_inside">
                        <a class="start_button clean_a" href="{{ url_for('index') }}">
                            <button name="name" value="{{ [context.admin, context.user] }}" class="start_button_1 global_text">На главную</button></a>   
                    </div>
                    <br>
                </form>   
            {% else %}
                <div class="head_inside">
                    <div class="question">
                        <h3 class="header_text">{{ context.question.id }}: {{ context.question.question }}</h3>
                    </div>
                    
                </div>
                <div class="head_inside">
                    {% if context.question.image %}
                    <div class="question">
                        <img class="question_image" src="../static/images/{{ context.question.image }}" alt="img">
                    </div>   
                    {% endif %}
                    
                </div>
                <div class="head_inside">
                    <form class="form" action="{{ url_for('test_quest') }}" method="post">
                    
                        <button class="start_button_1 global_text" 
                                value='a' 
                                name="answer"><p>{{ context.question.a }}</p>
                        </button>
                        <br>
                        <button class="start_button_1 global_text" 
                                value='b' 
                                name="answer"><p>{{ context.question.b }}</p>
                        </button>
                        <br>
                        <button class="start_button_1 global_text" 
                                value='c' 
                                name="answer"><p>{{ context.question.c }}</p>
                        </button>
                        <br>
                        {% if context.question.d %}
                            <button class="start_button_1 global_text" 
                                    value='d' 
                                    name="answer"><p>{{ context.question.d }}</p>
                            </button>
                            <br>
                            {% if context.question.e %}
                                <button class="start_button_1 global_text" 
                                    value='e' 
                                    name="answer"><p>{{ context.question.e }}</p>
                                </button>
                                <br>
                                {% if context.question.f %}
                                    <button class="start_button_1 global_text" 
                                        value='f' 
                                        name="answer"><p>{{ context.question.f }}</p>
                                    </button>
                                    <br>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                                
                    </form>
                </div>
                <form action="{{ url_for('index') }}" method="post">
                    <div class="head_inside">
                        <a class="start_button clean_a" href="{{ url_for('index') }}">
                            <button class="start_button_1 global_text">На главную</button></a>   
                    </div>
                    <br>
                </form>
            {% endif %}
        {% else %}
            <div class="head_inside">
                <h3 class="header_text">
                    Тест по экзамену 1с профессионал, для сдачи теста ван нужно ответить на 14 вопросов допускаются 2 ошибки
                </h3>
            </div>
    
            <div class="head_inside">
                <a class="start_button clean_a" href="{{ url_for(context.url) }}">
                    <button class="start_button_1 global_text">Начать</button></a>
                <br>
            </div>
            <div class="head_inside">
                <a class="start_button clean_a" href="{{ url_for('index') }}"><button class="start_button_1 global_text">назад</button></a>
            </div>
            <br>
        {% endif %}
    {% endif %}

    

    
{% endblock %}

{% block footer %}
<footer>
    <img  src="{{ url_for('static', filename='images/footer.png') }}" alt="img">
</footer>
{% endblock %}
